linux-6.9.2
src/auto_modify/test
lab4/bin
lab4/ILSVRC2012_devkit_t12
lab4/include
lab4/lib
lab4/lib64
lab4/pyvenv.cfg
lab4/ray.md
lab4/ray/_ray_output
lab4/ray/_serial_output
lab4/ray/generated_images
lab4/ray/images